/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*--------------------------------
ABOUT ME MAIN CSS
--------------------------------*/
.Main{
    background: #F1ECE7;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}
.Main-resumen{
    /* text-align: justify; */
    text-align: center;
    padding: 30px;
    font-size: 24px;
    line-height: 1.2;
    background-color: #fff;
    color: #090909;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;
    border: 2px solid #090909;
}

.Link-h1{
background: #fff;
border: 2px solid #c44900;
border-radius: 20px;
padding: 10px;
margin: 10px;
text-decoration: none;
color:#090909;
font-size: 40px;
}
.Link-h1:hover{
    background:#c44900;
    border: none;
    color: #fff;
}
.acordeon {
    border: 2px solid #090909;

}
.acordeon:hover{
    font-size: 30px;
}

.acordeon-item {
    padding: 10px;
}

.acordeon-content {
    display: none;
    overflow-y: scroll;
}

.infoTodo{
    display: flex;
    flex-direction: row;
    
}

.acordeon-img{
    max-width: 50%;
    min-width: 50%;
    max-height: auto;
    min-height: auto;
    height: auto;
    padding: 0px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    filter: grayscale();
}

.acordeon-li{
    background: #fff;
    list-style: none;
    width: 50%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.acordeon-header {
    background-color: #fff;
    color: #090909;
    padding: 20px 20px;
    border: 2px solid #c44900;
    border-radius: 10px;
    font-size: 2.5rem;
    padding: 0px 0px 0px 20px;
}

.active .acordeon-content {
    display: block;
}

.active .acordeon-header {
    background-color: #c44900;
    color: #fff;
    border: none;
}
