/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
CONTACT MAIN CSS
--------------------------------*/
.Main {
    display: flex;
    flex-direction: row;
    background-color: #F1ECE7;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.Main-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #090909;
}

.Maps{
    display: flex;
    flex-direction: column;
}
.Map-grande {
    background: #fff;
    border: 2px solid #c44900;
    border-radius: 10px;
    padding: 10px;
    margin:0px 0px 20px 0px;
    transform: translateY(20px); 
    transition: transform, 1s ease; 
    }

.Map-grande:hover{ 
    transform: translateY(0);
    }

.Map-mediano {
    min-width: 300px;
    background: #fff;
    border: 2px solid #c44900;
    border-radius: 10px;
    padding: 10px;
    margin:10px 0px 20px 0px;
    transform: translateY(20px); 
    transition: transform, 1s ease; 
}
.Map-mediano:hover{ 
    transform: translateY(0);
    }

.Main-social {
    background: #c44900;
    color: #fff;
    padding: 20px;
    border: 2px solid #c44900;
    border-radius: 10px;
    margin:10px 0px 10px 0px;
    transform: translateY(20px); 
    transition: transform, 1s ease; 
}
.Main-social:hover{ 
    transform: translateY(0);
    }

.Logo-social{
    width: 80px;
    padding: 10px;
}
.Logo-social:hover{
    transform: scale(1.2);
}

.Main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 50%;
    color: #090909;
}

.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    color: #090909;
} 

.Fieldset{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #c44900;
    border-radius: 10px;
    width: 80%;
}

.Fieldset-label{
    padding: 20px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.Fieldset-input{
    border: 2px solid #c44900;
    background: #F1ECE7;
    border-radius: 10px;
    padding: 10px 20px;
    color: #090909;
}
.Fieldset-input:hover{
    transform: scale(1.05);
}

.Btn-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #c44900;
    padding: 20px;
    color: #090909;
    background: #fff;
    font-size: 20px;
    border-radius: 20px;
    font-family: "Bebas Neue";
    font-size: 1.8rem;
}

.Btn-form:hover {
    background: #c44900;
    color: #fff;
    transition: 1s ease;
    transform: scale(1.05);
}