/* Descripción: este archivo contiene todos los ajustes referidos al CSS que se aplican en el documento contact.html del sitio web.
Estructura general:
- CSS Main
 */
/*--------------------------------
CSS MAIN CONTACT
--------------------------------*/
/* CSS MAIN CONTENIDO */
.Main {
    display: flex;
    flex-direction: row;
    background-color: #F1ECE7;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
}

.Main-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #090909;
}

/* CSS MAIN MAPAS */
.Maps{
    display: flex;
    flex-direction: column;
}
.Map-grande {
    background: #fff;
    border: 2px solid #c44900;
    border-radius: 10px;
    padding: 10px;
    margin:0px 0px 20px 0px;
    transform: translateY(20px); 
    transition: transform, 1s ease; 
    }

.Map-grande:hover{ 
    transform: translateY(0);
    }

.Map-mediano {
    min-width: 300px;
    background: #fff;
    border: 2px solid #c44900;
    border-radius: 10px;
    padding: 10px;
    margin:10px 0px 20px 0px;
    transform: translateY(20px); 
    transition: transform, 1s ease; 
}
.Map-mediano:hover{ 
    transform: translateY(0);
    }

/* CSS MAIN ICONOS Y REDES SOCIALES */
.Main-social {
    background: #c44900;
    color: #fff;
    padding: 20px;
    border: 2px solid #c44900;
    border-radius: 10px;
    margin:10px 0px 10px 0px;
    transform: translateY(20px); 
    transition: transform 1s ease; 
}
.Main-social:hover{ 
    transform: translateY(0);
    }

.Logo-social{
    width: 80px;
    padding: 10px;
}
.Logo-social:hover{
    transform: scale(1.2);
}

/* CSS MAIN FORMULARIO: FIELDSET, LABEL E INPUT */
.Main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 50%;
    color: #090909;
}

.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    color: #090909;
} 

.Fieldset{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #c44900;
    border-radius: 10px;
    width: 80%;
}

.Fieldset-label{
    padding: 20px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
}

.Fieldset-input{
    border: 2px solid #c44900;
    background: #F1ECE7;
    border-radius: 10px;
    padding: 10px 20px;
    color: #090909;
}
.Fieldset-input:hover{
    transform: scale(1.05);
}

/* CSS MAIN BOTONES FORMULARIO*/
.Btn-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #c44900;
    padding: 20px;
    color: #090909;
    background: #fff;
    font-size: 20px;
    border-radius: 20px;
    font-family: "Bebas Neue";
    font-size: 1.8rem;
}

.Btn-form:hover {
    background: #c44900;
    color: #fff;
    transition: 1s ease;
    transform: scale(1.05);
}

/*--------------------------------
CSS MEDIA QUERIES CONTACT
--------------------------------*/
@media (max-width: 768px){
/* AJUSTES MEDIA QUERIES PARA MÓVILES */
.Main {
    display: flex;
    flex-direction: column;
    background-color: #F1ECE7;
    font-size: 1rem;
    align-items: center;
}

.Main-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #090909;
    align-items: center;
}

.Maps {
    display: none;
}

.Main-social {
    width: 100%;
    max-width: 300px;
    align-content: center;
}

.Logo-social {
    width: 60px; 
    padding: 10px;
    
}

.Main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Fieldset {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

.Fieldset-label {
    font-size: 1rem;
}

.Fieldset-input {
    border: 2px solid #c44900;
    background: #F1ECE7;
    border-radius: 10px;
    padding: 10px;
    color: #090909;
    width: 100%;
}

.Fieldset-input:hover {
    transform: scale(1.05);
}

.Btn-form {
    font-size: 1.6rem; 
}
}

/* AJUSTES MEDIA QUERIES PARA TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
.Main {
    display: flex;
    flex-direction: column;
    background-color: #F1ECE7;
    font-size: 1rem;
    align-items: center;
}

.Main-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #090909;
    align-items: center;
}

.Main-social {
    width: 100%;
    max-width: 300px;
    align-content: center;
}

.Logo-social {
    width: 60px; 
    padding: 10px;
    
}

.Main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Fieldset {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

.Fieldset-label {
    font-size: 1rem;
}

.Fieldset-input {
    border: 2px solid #c44900;
    background: #F1ECE7;
    border-radius: 10px;
    padding: 10px;
    color: #090909;
    width: 100%;
}

.Fieldset-input:hover {
    transform: scale(1.05);
}

.Btn-form {
    font-size: 1.6rem; 
}
}
