/* Descripción: este archivo contiene todos los ajustes generales referidos al CSS que se aplican en el Header y el Footer de todos los archivos HTML del sitio web.
Estructura general:
- CSS Reset general
- CSS Body:
    - CSS Header
    - Footer:  */
/*--------------------------------
CSS RESET GENERAL
--------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/*--------------------------------
CSS HEADER GENERAL
--------------------------------*/
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F1ECE7;
}

/* CSS HEADER LOGOTIPO */
.Header-logoImage {
    width: 300px;
    padding: 30px 40px;
}

/* CSS HEADER NAVEGACIÓN */
.Header-nav {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
}

.Header-navList {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Header-navLink {
    color: #090909;
    text-decoration: none;
    padding: 30px;
}

.Header-navLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

/*--------------------------------
CSS FOOTER GENERAL
--------------------------------*/
.Footer {
    display: flex;
    background-color: #090909;
    color: #F1ECE7;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

/* CSS FOOTER NAVEGACIÓN */
.Footer-nav{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.Footer-navList{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}

.Footer-navLink {
    display: flex;
    flex-direction: column;
    color: #F1ECE7;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.Footer-navLink:hover {
    text-decoration: underline;
    text-decoration-color: #F1ECE7;
    text-decoration-thickness: 3px;
}

/* CSS FOOTER LOGOTIPO */
.Footer-logoImage {
    width: 300px;
}

/* CSS FOOTER CONTENIDO */
.Footer-content{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px;
    align-items: center;
}

/* CSS FOOTER BOTÓN */
.Footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px solid #F1ECE7;
    padding: 30px;
    color: #F1ECE7;
    background: none;
    font-size: 1.4rem;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 30px;
    text-decoration: none;
}

.Footer-button:hover {
    background: #c44900;
    color: #fff;
    border: none;
    transition: 1s ease;
}

/* CSS FOOTER COPYRIGHT */
.Footer-text{
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
}

/* CSS FOOTER TÉRMINOS Y CONDICIONES */
.Footer-textLink{
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
    text-decoration: none;
    color:#fff;
    padding-top: 10px;
}

.Footer-textLink:hover{
    text-decoration: underline;
    text-decoration-color: #F1ECE7;
    text-decoration-thickness: 3px;
    transform: scale(1.1);
}