/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
/*--------------------------------
CSS RESET GENERAL
--------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
CSS HEADER GENERAL
--------------------------------*/
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F1ECE7;
}

.Header-logoImage {
    width: 300px;
    padding: 30px 40px;
}

.Header-nav {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.Header-navList {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Header-navLink {
    color: #090909;
    text-decoration: none;
    padding: 30px;
}

.Header-navLink:hover {
    text-decoration: underline;
    text-decoration-color: #090909;
    text-decoration-thickness: 5px;
}

/*--------------------------------
CSS FOOTER GENERAL
--------------------------------*/
.Footer {
    display: flex;
    background-color: #090909;
    color: #F1ECE7;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

.Footer-nav{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.Footer-navList{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}

.Footer-navLink {
    display: flex;
    flex-direction: column;
    color: #F1ECE7;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.Footer-navLink:hover {
    text-decoration: underline;
    text-decoration-color: #F1ECE7;
    text-decoration-thickness: 3px;
}

.Footer-logoImage {
    width: 300px;
}

.Footer-content{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    align-items: center;
}

.Footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px solid #F1ECE7;
    padding: 30px;
    color: #F1ECE7;
    background: none;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 30px;
    text-decoration: none;
}

.Footer-button:hover {
    background: #c44900;
    color: #fff;
    border: none;
    transition: 1s ease;
}

.Footer-text{
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
}