/*COLORES: 
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
/*--------------------------------
PROJECTS ESPECÍFICO CSS
--------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
PROJECTS ESPECÍFICO CSS
--------------------------------*/

.Main{
    background: #F1ECE7;
}

.Tabs-contenido {
    display: none;
}

.Tabs-buttons {
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #090909;
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
}

.Tabs-button {
    padding: 10px 20px;
    background: #fff;
    border: 2px solid #090909;
    color:#090909;
    border-radius: 10px;
    margin:5px;
}
.Tabs-button:hover{
    transform: scale(1.2)
}

.u-active {
    background-color: #c44900;
    border: 2px solid #c44900;
    color: #F1ECE7;
}

.u-visible {
    display: block;
}

/*--------------------------------
CSS CARDS PROYECTO WEB
--------------------------------*/

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Card {
    display: flex;
    flex-direction: column;
    background-color:#fff;
    color: #090909;
    max-width: 400px;
    min-width: 400px;
    flex: 1 0 220px;
    margin: 10px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 20px;
}

.Card:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background: #c44900;
    color: #fff;
    filter: none;
}
.Card-ilustration{
    width: 100%;
    height: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 200px;
    max-height: 400px;
    max-width: 200px;
    min-width: 400px;
}

.Card-game  {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Card-web{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Card .Card-text {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    justify-content: center;
}

.Card-h3 {
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 20px;
    text-align: center;
}

/*--------------------------------
CSS CARDS PROYECTO GAMES
--------------------------------*/
.Card-title{
    text-decoration: none;
    color: #090909;
}
.Card-title:hover{
    color: #fff;
}