/* Descripción: este archivo contiene todos los ajustes referidos al CSS que se aplican en el documento project-single.html del sitio web.
Estructura general:
- CSS Main
 */
/*--------------------------------
CSS MAIN PROJECT-SINGLE
--------------------------------*/
/* CSS MAIN TÍTULO */
.Main-h1{
    font-size: 3.6rem;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px 50px;
    width: 40%;
}

/* CSS MAIN INFORMACIÓN Y TEXTOS DEL PROYECTO SELECCIONADO */
.Main-project{
    display: flex;
    flex-direction: row;
}

.Main-header{
align-content: center;
}

.Main-headerTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    text-align: left;
    padding: 10px 50px;
}

.Main-headerSubtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.1rem;
    text-align: left;
    padding: 10px 50px;
}

.Main-headerDescription{
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-align: justify;
    padding: 10px 50px;
}

.Main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.Content{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #c44900;
    display: flex;
    margin:10px 2px;
}

/* CSS MAIN IMAGEN GRANDE */
.Content img{
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    display: block;
}
.Content:hover{
    transform: scale(1.05);
}

/* CSS MAIN IMÁGENES PARALELAS */
.Content-row{
    display: flex;
    
}

.Content-row .Content{
    width: 50%;
}

/*--------------------------------
CSS MEDIA QUERIES PROJECT-SINGLE
--------------------------------*/
@media (max-width: 768px){
/* AJUSTES MEDIA QUERIES PARA MÓVILES */
.Main-h1 {
    font-size: 2.5rem;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

.Main-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-header {
    align-content: center;
    width: 100%;
}

.Main-headerTitle {
    font-size: 3.5rem; 
    text-align: center;
    padding: 10px 20px; 
}

.Main-headerSubtitle {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 20px;
}

.Main-headerDescription {
    font-size: 1rem;
    text-align: justify;
    padding: 10px 20px;
    width: 100%;
}

/* MAIN CONTENIDO */
.Main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Content {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #c44900;
    display: block;
    margin: 10px 0;
}

.Content img {
    width: 100%; 
    min-width: 100%; 
    height: auto;
    display: block;
}

.Content-row {
    display: flex;
    flex-direction: column;
}

.Content-row .Content {
    width: 100%;
    margin: 5px 0; 
}
}

/* AJUSTES MEDIA QUERIES PARA TABLETS */
@media (min-width: 769px) and (max-width: 1024px) {
.Main-h1 {
    font-size: 2.5rem;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

.Main-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-header {
    align-content: center;
    width: 100%;
}

.Main-headerTitle {
    font-size: 3.5rem; 
    text-align: center;
    padding: 10px 20px; 
}

.Main-headerSubtitle {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 20px;
}

.Main-headerDescription {
    font-size: 1rem;
    text-align: justify;
    padding: 10px 20px;
    width: 100%;
}
.Main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Content {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #c44900;
    display: block;
    margin: 10px 0;
}

.Content img {
    width: 100%; 
    min-width: 100%; 
    height: auto;
    display: block;
}
    
.Content-row {
    display: flex;
    flex-direction: column;
}
    
.Content-row .Content {
    width: 100%;
    margin: 5px 0; 
}
}
