/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
SHOP MAIN CSS
--------------------------------*/
.Main{
    background: #fff;
}

#Main-resumen{
    border: 2px solid #c44900;
    border-radius: 20px;
    padding: 50px;
    margin:50px;
    background: #f1ece7;
    font-family: "Bebas Neue", sans-serif;
}
.Producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}
.Producto-image{
    width: 100px;
    height: 150px;
    margin: 20px;
}
.Producto-text{
margin: 20px;
font-family: "Montserrat", sans-serif;
font-size: 1.5rem;
}

.Producto-precio{
    margin: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.Btn-shop{
    background: #c44900;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 20px 30px 20px;
    text-decoration: none;
    color: #fff;
    justify-content: space-between;
}

.Btn-shop:hover{
    font-size: 1.5rem;
}