/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
ABOUT ME MAIN CSS
--------------------------------*/
.Main{
    background: #F1ECE7;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}
.acordeon {
    border: 2px solid #090909;

}

.acordeon-item {
    padding: 10px;
}

.acordeon-content {
    display: none;
}

.infoTodo{
    display: flex;
    flex-direction: row;
    
}

.acordeon-img{
    max-width: 50%;
    padding: 0px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.acordeon-p{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.acordeon-header {
    background-color: #fff;
    color: #090909;
    padding: 10px 5px;
    border: 2px solid #090909;
    border-radius: 10px;
    font-size: 2.5rem;
    padding: 0px 0px 0px 20px;
}

.active .acordeon-content {
    display: block;
}

.active .acordeon-header {
    background-color: #c44900;
    color: #fff;
    border: none;
}