* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}
/*--------------------------------
CONTACT HEADER CSS
--------------------------------*/
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header-LogoIMG {
    width: 300px;
    padding: 30px 40px;
}

.Header-Nav {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.NavUl {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.NavUl-Link {
    color: black;
    text-decoration: none;
    padding: 30px;
}

.NavUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
}

/*--------------------------------
CONTACT MAIN CSS
--------------------------------*/
.Main {
    display: flex;
    background-color: black;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.Main-Content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.Main-map {
    border: 2px solid white;
    border-radius: 10px;
}

.Main-redes {
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.Main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 50%;
    color: white;
}

.Fieldset{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    width: 80%;
}

.Fieldset-label{
    padding: 20px 0px 0px 0px;
}

.Fieldset-input{
    border: 2px solid white;
    background: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.Btn-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    padding: 20px;
    color: white;
    background: none;
    font-size: 20px;
    border-radius: 20px;
}

.Btn-form:hover {
    background: white;
    color: black;
    transition: 1s ease;
}

/*--------------------------------
CONTACT FOOTER CSS
--------------------------------*/
.Footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

.Footer-firstContent{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.FooterUl{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}

.FooterUl-Link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.FooterUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

.Footer-LogoIMG {
    width: 300px;
}

.Footer-secondContent{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    align-items: center;
}