* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
PROJECT HEADER CSS
--------------------------------*/
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header-LogoIMG {
    width: 300px;
    padding: 30px 40px;
}

.Header-Nav {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.NavUl {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.NavUl-Link {
    color: black;
    text-decoration: none;
    padding: 30px;
}

.NavUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
}

/*--------------------------------
PROJECT MAIN CSS
--------------------------------*/

.Tabs-contenido {
    display: none;
}

.Tabs-buttons {
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
}

.Tabs-button {
    padding: 10px 20px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
}

.u-active {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.u-visible {
    display: block;
}


/*--------------------------------
PROJECT FOOTER CSS
--------------------------------*/
.Footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

.Footer-firstContent {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

/* .Footer-Nav{
} */

.FooterUl {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}

.FooterUl-Link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.FooterUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

.Footer-LogoIMG {
    width: 300px;
}

.Footer-secondContent {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    align-items: center;
}

.Footer-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px solid white;
    padding: 30px;
    color: white;
    background: none;
    font-size: 20px;
    border-radius: 30px;

}

.Footer-Button:hover {
    background: white;
    color: black;
    transition: 1s ease;
}

.Footer-ContentLink {
    text-decoration: none;
}