/* Colores:
Negro: Principal #090909 
Complementario 1 Naranja: #c44900
Complementario 2 Blanco roto: #F1ECE7
Blanco total: #ffffff
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*--------------------------------
PROJECT MAIN CSS
--------------------------------*/

.Main{
    background: #F1ECE7;
    
}
.Tabs-contenido {
    display: none;
}

.Tabs-buttons {
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #090909;
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
}

.Tabs-button {
    padding: 10px 20px;
    background: #fff;
    border: 2px solid #090909;
    color:#090909;
    border-radius: 10px;
    margin:5px;
}
.Tabs-button:hover{
    transform: scale(1.2)
}

.u-active {
    background-color: #c44900;
    border: 2px solid #c44900;
    color: #F1ECE7;
}

.u-visible {
    display: block;
}

/*--------------------------------
CSS CARDS PROYECTO WEB
--------------------------------*/
a {
    text-decoration: none;
    color: #090909;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    background-color:#090909;
    color: #F1ECE7;
    width: 250px;
    flex: 1 0 220px;
    margin: 10px;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background: #F1ECE7;
    color: #090909;
}

.card img {
    max-width: 100%;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
}

.card .text {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
}

.card button {
    background: #F1ECE7;
    border: 2px solid #090909;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button:hover {
    border: none;
    background:#c44900;
    transform: scale(1.1);
    transition: 0.5s ease;
}

h3 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 20px;
    text-align: center;
}