* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Body {
    display: flex;
    flex-direction: column;
}

/*CSS Header*/
.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:white;
}

.Header-Logo {
    justify-content: center;
    align-content: center;
}

.Header-LogoIMG {
    width: 300px;
    justify-content: center;
    align-content: center;

}

.Header-Nav {
    display: flex;
    flex-direction: row;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.NavUl {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.NavUl-Link {
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    padding: 50px;
    font-size: 1.2rem;
}

.NavUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

/*CSS Main*/
.Main {
    background-image: url(../img/image-confident-caucasian-man-smiling-pleased-holding-hands-crossed-chest-looking-satisfie.jpg);
    background-size: cover;
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents tiling of the image */
    height: 75vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.Main-Content {
    width: 50%;
    color: white;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
}

.Main-H1 {
    font-size: 5rem;
    padding: 50px;
    text-align: left;
}

.Main-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px solid white;
    padding: 30px;
    color: white;
    background: none;
    font-size: 20px;
    border-radius: 30px;
    
}
.Main-Button:hover {
    background: white;
    color: black;
    transition: 1s ease;
}

.Main-ContentLink{
    text-decoration: none;
}


/*CSS Footer*/
.Footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
}

.Footer-firstContent{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.Footer-Nav{

}

.FooterUl{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}

.FooterUl-Link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.FooterUl-Link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

.Footer-LogoIMG {
    width: 400px;
    padding: 50px 0px 0px 0px;
}

.Footer-secondContent{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.Email-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    color: black;
    background: white;
    font-size: 14px;
    border-radius: 10px;
    
}


