/* Descripción: este archivo contiene todos los ajustes referidos al CSS que se aplican en el documento tyc.html del sitio web.
Estructura general:
- CSS Main
 */

/*--------------------------------
CSS MAIN TYC
--------------------------------*/
/* CSS MAIN CONTENIDO*/
.Main{
    background: #fff;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    padding: 50px;
    text-align: justify;
}

/* CSS MAIN TÍTULO*/
.Main-title{
    padding: 10px 0px;
    font-size: 3.2rem;
}

/* CSS MAIN SUBTÍTULO*/
.Main-subtitle{
    padding: 10px 0px;
    font-size: 2rem;
}

/* CSS MAIN TEXTOS*/
.Main-text{
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}
